<a href="https://colab.research.google.com/github/Kamikigit/NLP100/blob/master/chapter2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# google colaboratory用
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
popular_names = "/content/drive/My Drive/NLP100/data/popular-names.txt"
df = pd.read_csv(popular_names, sep='\t', header=None)
df.head(3)

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

In [ ]:
#10 行数のカウント
print(len(df))

2780

In [ ]:
#11 タブをスペースに置換
df.to_csv('/content/drive/My Drive/NLP100/chapter2/result_11_pandas.txt', sep=" ", index=None, header=None)

#csvへ書き出すときにsepを指定して、タブをスペースに変換

In [ ]:
##12　1列目をcol1.txtに，2列目をcol2.txtに保存
df[0].to_csv("/content/drive/My Drive/NLP100/chapter2/col1_pandas.txt", index=None, header=None)
df[1].to_csv("/content/drive/My Drive/NLP100/chapter2/col2_pandas.txt", index=None, header=None)

# df[0]でDataFrameの1列目を指定できる

In [ ]:
#13　col1.txtとcol2.txtをマージPermalink
col1 = pd.read_csv("/content/drive/My Drive/NLP100/chapter2/col1_pandas.txt", header=None)
col2 = pd.read_csv("/content/drive/My Drive/NLP100/chapter2/col2_pandas.txt", header=None)
data = pd.merge(col1, col2, left_index=True, right_index=True)
data.to_csv("/content/drive/My Drive/NLP100/chapter2/result_13_pandas.txt", sep="\t", index=None, header=None)

In [ ]:
#14 先頭からN行を出力
n = int(input("行数："))
df.iloc[:n]

# ilocで行を指定

行数：3

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

In [ ]:
#15 末尾のN行を出力
n = int(input("行数："))
df.iloc[-n:]

行数：3

          0  1      2     3
2777  Lucas  M  12585  2018
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018

In [ ]:
#16 ファイルをN分割する
n = int(input("区切り数："))
num = 0
sepa = len(df)//n
for i in range(0, len(df), sepa):
    num += 1
    df.iloc[i:i+sepa].to_csv(f"data/chapter2/result_16_pandas{0}".format(num), index=None, header=None)

区切り数：2

FileNotFoundError: ignored

In [ ]:
#17 1列目の文字列の異なり
df[0].unique()

array(['Mary', 'Anna', 'Emma', 'Elizabeth', 'Minnie', 'Margaret', 'Ida',
       'Alice', 'Bertha', 'Sarah', 'John', 'William', 'James', 'Charles',
       'George', 'Frank', 'Joseph', 'Thomas', 'Henry', 'Robert', 'Annie',
       'Edward', 'Clara', 'Florence', 'Ethel', 'Bessie', 'Harry', 'Helen',
       'Ruth', 'Marie', 'Lillian', 'Mildred', 'Dorothy', 'Frances',
       'Walter', 'Evelyn', 'Virginia', 'Richard', 'Betty', 'Donald',
       'Doris', 'Shirley', 'Barbara', 'Patricia', 'Joan', 'Nancy',
       'Carol', 'David', 'Ronald', 'Judith', 'Linda', 'Sandra', 'Carolyn',
       'Sharon', 'Michael', 'Susan', 'Donna', 'Larry', 'Kathleen',
       'Deborah', 'Gary', 'Karen', 'Debra', 'Pamela', 'Cynthia', 'Mark',
       'Steven', 'Lisa', 'Jeffrey', 'Lori', 'Kimberly', 'Tammy', 'Angela',
       'Michelle', 'Jennifer', 'Melissa', 'Christopher', 'Brian', 'Amy',
       'Laura', 'Tracy', 'Julie', 'Jason', 'Scott', 'Stephanie',
       'Heather', 'Nicole', 'Matthew', 'Rebecca', 'Jessica', 'Amanda',
       'Daniel', 'Kelly', 'Joshua', 'Crystal', 'Ashley', 'Megan',
       'Brittany', 'Andrew', 'Justin', 'Samantha', 'Lauren', 'Emily',
       'Brandon', 'Tyler', 'Taylor', 'Nicholas', 'Jacob', 'Hannah',
       'Austin', 'Alexis', 'Rachel', 'Madison', 'Abigail', 'Olivia',
       'Ethan', 'Anthony', 'Isabella', 'Ava', 'Sophia', 'Chloe',
       'Alexander', 'Mia', 'Jayden', 'Noah', 'Aiden', 'Mason', 'Liam',
       'Charlotte', 'Harper', 'Benjamin', 'Elijah', 'Amelia', 'Logan',
       'Oliver', 'Lucas'], dtype=object)

In [ ]:
#18 各業を3コラム目の数値の降順にソート
df.sort_values(2)

            0  1      2     3
9       Sarah  F   1288  1880
29      Alice  F   1308  1881
8      Bertha  F   1320  1880
28     Bertha  F   1324  1881
27      Annie  F   1326  1881
...       ... ..    ...   ...
1351   Robert  M  91640  1947
1550  Michael  M  92704  1957
1350    James  M  94757  1947
1360    Linda  F  96211  1948
1340    Linda  F  99689  1947

[2780 rows x 4 columns]

In [ ]:
#19 各行の1コラム目の文字列の出現頻度を求め、出現頻度の高い順に並べる
df[0].value_counts()

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Pamela       1
Crystal      1
Lori         1
Tracy        1
Lucas        1
Name: 0, Length: 136, dtype: int64